<div class="form-container">

<%= form_for(@dog) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :nick %><br>
    <%= f.text_field :nick %>
    <%= f.label :primarybreed %><br>
    <%= f.select :primarybreed, 
    # A A A A A A  A A   A  A A A A A A A A A A A A  A A A A A A A A A A A A A A A  A
        [['Affenpinscher', 'Affenpinscher'],
['Afghan Hound', 'Afghan Hound'],
['Airedale Terrier', 'Airedale Terrier'],
['Akita', 'Akita'],
['Alaskan Malamute', 'Alaskan Malamute'],
['American English Coonhound', 'American English Coonhound'],
['American Eskimo Dog', 'American Eskimo Dog'],
['American Foxhound', 'American Foxhound'],
['American Staffordshire Terrier', 'American Staffordshire Terrier'],
['American Water Spaniel', 'American Water Spaniel'],
['Anatolian Shepherd Dog', 'Anatolian Shepherd Dog'],
['Australian Cattle Dog', 'Australian Cattle Dog'],
['Australian Shepherd', 'Australian Shepherd'],
['Australian Terrier', 'Australian Terrier'],
['Basenji', 'Basenji'],
['Basset Hound', 'Basset Hound'],
['Beagle', 'Beagle'],
['Bearded Collie', 'Bearded Collie'],
['Beauceron', 'Beauceron'],
['Bedlington Terrier', 'Bedlington Terrier'],
['Belgian Malinois', 'Belgian Malinois'],
['Belgian Sheepdog', 'Belgian Sheepdog'],
['Belgian Tervuren', 'Belgian Tervuren'],
['Bernese Mountain Dog', 'Bernese Mountain Dog'],
['Bichon Frise', 'Bichon Frise'],
['Black Russian Terrier', 'Black Russian Terrier'],
['Black and Tan Coonhound', 'Black and Tan Coonhound'],
['Bloodhound', 'Bloodhound'],
['Bluetick Coonhound', 'Bluetick Coonhound'],
['Border Collie', 'Border Collie'],
['Border Terrier', 'Border Terrier'],
['Borzoi', 'Borzoi'],
['Boston Terrier', 'Boston Terrier'],
['Bouvier des Flandres', 'Bouvier des Flandres'],
['Boxer', 'Boxer'],
['Boykin Spaniel', 'Boykin Spaniel'],
['Briard', 'Briard'],
['Brittany', 'Brittany'],
['Brussels Griffon', 'Brussels Griffon'],
['Bull Terrier', 'Bull Terrier'],
['Bulldog', 'Bulldog'],
['Bullmastiff', 'Bullmastiff'],
['Cairn Terrier', 'Cairn Terrier'],
['Canaan Dog', 'Canaan Dog'],
['Cane Corso', 'Cane Corso'],
['Cardigan Welsh Corgi', 'Cardigan Welsh Corgi'],
['Cavalier King Charles Spaniel', 'Cavalier King Charles Spaniel'],
['Cesky Terrier', 'Cesky Terrier'],
['Chesapeake Bay Retriever', 'Chesapeake Bay Retriever'],
['Chihuahua', 'Chihuahua'],
['Chinese Crested', 'Chinese Crested'],
['Chinese Shar-Pei', 'Chinese Shar-Pei'],
['Chinook', 'Chinook'],
['Chow Chow', 'Chow Chow'],
['Clumber Spaniel', 'Clumber Spaniel'],
['Cocker Spaniel', 'Cocker Spaniel'],
['Collie', 'Collie'],
['Curly-Coated Retriever', 'Curly-Coated Retriever'],
['Dachshund', 'Dachshund'],
['Dalmatian', 'Dalmatian'],
['Dandie Dinmont Terrier', 'Dandie Dinmont Terrier'],
['Doberman Pinscher', 'Doberman Pinscher'],
['Dogue de Bordeaux', 'Dogue de Bordeaux'],
['English Cocker Spaniel', 'English Cocker Spaniel'],
['English Foxhound', 'English Foxhound'],
['English Setter', 'English Setter'],
['English Springer Spaniel', 'English Springer Spaniel'],
['English Toy Spaniel', 'English Toy Spaniel'],
['Entlebucher Mountain Dog', 'Entlebucher Mountain Dog'],
['Field Spaniel', 'Field Spaniel'],
['Finnish Lapphund', 'Finnish Lapphund'],
['Finnish Spitz', 'Finnish Spitz'],
['Flat-Coated Retriever', 'Flat-Coated Retriever'],
['French Bulldog', 'French Bulldog'],
['German Pinscher', 'German Pinscher'],
['German Shepherd Dog', 'German Shepherd Dog'],
['German Shorthaired Pointer', 'German Shorthaired Pointer'],
['German Wirehaired Pointer', 'German Wirehaired Pointer'],
['Giant Schnauzer', 'Giant Schnauzer'],
['Glen of Imaal Terrier', 'Glen of Imaal Terrier'],
['Golden Retriever', 'Golden Retriever'],
['Gordon Setter', 'Gordon Setter'],
['Great Dane', 'Great Dane'],
['Great Pyrenees', 'Great Pyrenees'],
['Greater Swiss Mountain Dog', 'Greater Swiss Mountain Dog'],
['Greyhound', 'Greyhound'],
['Harrier', 'Harrier'],
['Havanese', 'Havanese'],
['Ibizan Hound', 'Ibizan Hound'],
['Icelandic Sheepdog', 'Icelandic Sheepdog'],
['Irish Red and White Setter', 'Irish Red and White Setter'],
['Irish Setter', 'Irish Setter'],
['Irish Terrier', 'Irish Terrier'],
['Irish Water Spaniel', 'Irish Water Spaniel'],
['Irish Wolfhound', 'Irish Wolfhound'],
['Italian Greyhound', 'Italian Greyhound'],
['Japanese Chin', 'Japanese Chin'],
['Keeshond', 'Keeshond'],
['Kerry Blue Terrier', 'Kerry Blue Terrier'],
['Komondor', 'Komondor'],
['Kuvasz', 'Kuvasz'],
['Labrador Retriever', 'Labrador Retriever'],
['Lakeland Terrier', 'Lakeland Terrier'],
['Leonberger', 'Leonberger'],
['Lhasa Apso', 'Lhasa Apso'],
['Lowchen', 'Lowchen'],
['Maltese', 'Maltese'],
['Manchester Terrier', 'Manchester Terrier'],
['Mastiff', 'Mastiff'],
['Miniature Bull Terrier', 'Miniature Bull Terrier'],
['Miniature Pinscher', 'Miniature Pinscher'],
['Miniature Schnauzer', 'Miniature Schnauzer'],
['Neapolitan Mastiff', 'Neapolitan Mastiff'],
['Newfoundland', 'Newfoundland'],
['Norfolk Terrier', 'Norfolk Terrier'],
['Norwegian Buhund', 'Norwegian Buhund'],
['Norwegian Elkhound', 'Norwegian Elkhound'],
['Norwegian Lundehund', 'Norwegian Lundehund'],
['Norwich Terrier', 'Norwich Terrier'],
['Nova Scotia Duck Tolling Retriever', 'Nova Scotia Duck Tolling Retriever'],
['Old English Sheepdog', 'Old English Sheepdog'],
['Otterhound', 'Otterhound'],
['Papillon', 'Papillon'],
['Parson Russell Terrier', 'Parson Russell Terrier'],
['Pekingese', 'Pekingese'],
['Pembroke Welsh Corgi', 'Pembroke Welsh Corgi'],
['Petit Basset Griffon Vendeen', 'Petit Basset Griffon Vendeen'],
['Pharaoh Hound', 'Pharaoh Hound'],
['Plott', 'Plott'],
['Pointer', 'Pointer'],
['Polish Lowland Sheepdog', 'Polish Lowland Sheepdog'],
['Pomeranian', 'Pomeranian'],
['Poodle', 'Poodle'],
['Portuguese Podengo Pequeno', 'Portuguese Podengo Pequeno'],
['Portuguese Water Dog', 'Portuguese Water Dog'],
['Pug', 'Pug'],
['Puli', 'Puli'],
['Pyrenean Shepherd', 'Pyrenean Shepherd'],
['Rat Terrier', 'Rat Terrier'],
['Redbone Coonhound', 'Redbone Coonhound'],
['Rhodesian Ridgeback', 'Rhodesian Ridgeback'],
['Rottweiler', 'Rottweiler'],
['Russell Terrier', 'Russell Terrier'],
['Saluki', 'Saluki'],
['Samoyed', 'Samoyed'],
['Schipperke', 'Schipperke'],
['Scottish Deerhound', 'Scottish Deerhound'],
['Scottish Terrier', 'Scottish Terrier'],
['Sealyham Terrier', 'Sealyham Terrier'],
['Shetland Sheepdog', 'Shetland Sheepdog'],
['Shiba Inu', 'Shiba Inu'],
['Shih Tzu', 'Shih Tzu'],
['Siberian Husky', 'Siberian Husky'],
['Silky Terrier', 'Silky Terrier'],
['Skye Terrier', 'Skye Terrier'],
['Smooth Fox Terrier', 'Smooth Fox Terrier'],
['Soft Coated Wheaten Terrier', 'Soft Coated Wheaten Terrier'],
['Spinone Italiano', 'Spinone Italiano'],
['St. Bernard', 'St. Bernard'],
['Staffordshire Bull Terrier', 'Staffordshire Bull Terrier'],
['Standard Schnauzer', 'Standard Schnauzer'],
['Sussex Spaniel', 'Sussex Spaniel'],
['Swedish Vallhund', 'Swedish Vallhund'],
['Tibetan Mastiff', 'Tibetan Mastiff'],
['Tibetan Spaniel', 'Tibetan Spaniel'],
['Tibetan Terrier', 'Tibetan Terrier'],
['Toy Fox Terrier', 'Toy Fox Terrier'],
['Treeing Walker Coonhound', 'Treeing Walker Coonhound'],
['Vizsla', 'Vizsla'],
['Weimaraner', 'Weimaraner'],
['Welsh Springer Spaniel', 'Welsh Springer Spaniel'],
['Welsh Terrier', 'Welsh Terrier'],
['West Highland White Terrier', 'West Highland White Terrier'],
['Whippet', 'Whippet'],
['Wire Fox Terrier', 'Wire Fox Terrier'],
['Wirehaired Pointing Griffon', 'Wirehaired Pointing Griffon'],
['Xoloitzcuintli', 'Xoloitzcuintli'],
['Yorkshire Terrier', 'Yorkshire Terrier']]
        %>
    <%= f.label :secondarybreed %><br>
    <%= f.select :secondarybreed,
        [
        ['Select A Secondary Breed', 'select_secondary_breed'],            
        ['Purebred', 'purebred'],
        ['Mutt - No Idea', 'mutt_no_idea'],
        ['Affenpinscher','affenpinscher'],
        ['Afghan Hound','afgan_hound'],
        ['Airedale Terrier','airedale_terrier'],
        ['Akita','akita'],
        ['Alaskan Malamute','alaskan_malamute'],
        ['American English Coonhound','american_english_coonhound'],
        ['American Eskimo Dog','american_eskimo_dog'],
        ['American Foxhound','american_foxhound'],
        ['American Staffordshire Terrier','american_staffordshire_terrier'],
        ['American Water Spaniel','american_water_spaniel'],
        ['Anatolian Shepherd Dog','anotolian_shepherd_dog'],
        ['Australian Cattle Dog','australian_cattle_dog'],
        ['Australian Shepherd','australian_shepherd'],
        ['Australian Terrier','aistralian_terrier'],
        ['Basenji','basenji'],
        ['Basset Hound','basset_hound'],
        ['Beagle','beagle'],
        ['Bearded Collie','bearded_collie'],
        ['Beauceron','beaceron'],
        ['Bedlington Terrier','bedlington_terrier'],
        ['Belgian Malinois','belgian_malinois'],
        ['Belgian Sheepdog','belgian_sheepdog'],
        ['Belgian Tervuren','belgian_tervuren'],
        ['Bernese Mountain Dog','bernese_mountain_dog'],
        ['Bichon Frise','bichon_frise'],
        ['Black Russian Terrier','black_russian_terrier'],
        ['Black and Tan Coonhound','black_and_tan_coonhound'],
        ['Bloodhound','bloodhound'],
        ['Bluetick Coonhound','bluetick_coonhound'],
        ['Border Collie','border_collie'],
        ['Border Terrier','border_terrier'],
        ['Borzoi','borzoi'],
        ['Boston Terrier','boston_terrier'],
        ['Bouvier des Flandres','bouvier_des_flandres'],
        ['Boxer','boxer'],
        ['Boykin Spaniel','boykin_spaniel'],
        ['Briard','briard'],
        ['Brittany','brittany'],
        ['Brussels Griffon','brussels_griffon'],
        ['Bull Terrier','blue_terrer'],
        ['Bulldog','bulldog'],
        ['Bullmastiff','bluemastiff'],
        ['Cairn Terrier','cairn_terrier'],
        ['Canaan Dog','canaan_dog'],
        ['Cane Corso','cane_corso'],
        ['Cardigan Welsh Corgi','cardigan_welsh_corgi'],
        ['Cavalier King Charles Spaniel','cavalier_king_charles_spaniel'],
        ['Cesky Terrier','cesky_terrier'],
        ['Chesapeake Bay Retriever','chesapeake_bay_retriever'],
        ['Chihuahua','chihuahua'],
        ['Chinese Crested','chinese_crested'],
        ['Chinese Shar-Pei','chinese_shar-pei'],
        ['Chinook','chinook'],
        ['Chow Chow','chow_chow'],
        ['Clumber Spaniel','clumber_spaniel'],
        ['Cocker Spaniel','cocker_spaniel'],
        ['Collie','collie'],
        ['Curly-Coated Retriever','curly-coated_retriever'],
        ['Dachshund','dachund'],
        ['Dalmatian','dalmatian'],
        ['Dandie Dinmont Terrier','dandie_dinmont_terrier'],
        ['Doberman Pinscher','doberman_pinscher'],
        ['Dogue de Bordeaux','dogue_de_bordeaux'],
        ['English Cocker Spaniel','english_cocker_spaniel'],
        ['English Foxhound','english_foxhound'],
        ['English Setter','english_setter'],
        ['English Springer Spaniel','english_springer_spaniel'],
        ['English Toy Spaniel','english_toy_spaniel'],
        ['Entlebucher Mountain Dog','entlebucher_mountain_dog'],
        ['Field Spaniel','field_spaniel'],
        ['Finnish Lapphund','finnish_lapphund'],
        ['Finnish Spitz','finnish_spitz'],
        ['Flat-Coated Retriever','flat-coated_retriever'],
        ['French Bulldog','french_bulldog'],
        ['German Pinscher','german_pinscher'],
        ['German Shepherd','german_shepherd'],
        ['German Shorthaired Pointer','germain_shorthaired_pointer'],
        ['German Wirehaired Pointer','german_wirehaired_pointer'],
        ['Giant Schnauzer','giant_schnauzer'],
        ['Glen of Imaal Terrier','glen_of_imaal_terrier'],
        ['Golden Retriever','golden_retriever'],
        ['Gordon Setter','gordon_setter'],
        ['Great Dane','great_dane'],
        ['Great Pyrenees','great_pyrenees'],
        ['Greater Swiss Mountain Dog','greater_swiss_mountain_dog'],
        ['Greyhound','greyhound'],
        ['Harrier','harrier'],
        ['Havanese','havanese'],
        ['Ibizan Hound','ibizan_hound'],
        ['Icelandic Sheepdog','icelandic_sheepdog'],
        ['Irish Red and White Setter','irish_red_and_white_setter'],
        ['Irish Setter','irish_setter'],
        ['Irish Terrier','irish_terrier'],
        ['Irish Water Spaniel','irish_water_spaniel'],
        ['Irish Wolfhound','irish_wolfhound'],
        ['Italian Greyhound','italian_greyhound'],
        ['Japanese Chin','japanese_chin'],
        ['Keeshond','keeshond'],
        ['Kerry Blue Terrier','kerry_blue_terrier'],
        ['Komondor','komondor'],
        ['Kuvasz','kuvasz'],
        ['Labrador Retriever','labrador_retriever'],
        ['Lakeland Terrier','lakeland_terrier'],
        ['Leonberger','leonberger'],
        ['Lhasa Apso','lhasa_apso'],
        ['Lowchen','lowchen'],
        ['Maltese','maltese'],
        ['Manchester Terrier','manchester_terrier'],
        ['Mastiff','mastiff'],
        ['Miniature Bull Terrier','miniature_bull_terrier'],
        ['Miniature Pinscher','miniature_pinscher'],
        ['Miniature Schnauzer','miniature_schnauzer'],
        ['Neapolitan Mastiff','neapolitan_mastiff'],
        ['Newfoundland','newfoundland'],
        ['Norfolk Terrier','norfolk_terrier'],
        ['Norwegian Buhund','norwegian_bhund'],
        ['Norwegian Elkhound','norwegian_elkhound'],
        ['Norwegian Lundehund','norwegian_lundehund'],
        ['Norwich Terrier','norwhich_terrier'],
        ['Nova Scotia Duck Tolling Retriever','nova_scotia_duck_tolling_retriever'],
        ['Old English Sheepdog','old_english_sheepdog'],
        ['Otterhound','otterhound'],
        ['Papillon','papillon'],
        ['Parson Russell Terrier','parson_russel_terrier'],
        ['Pekingese','pekingese'],
        ['Pembroke Welsh Corgi','pembroke_welsh_corgi'],
        ['Petit Basset Griffon Vendeen','petit_basset_griffon_vendeen'],
        ['Pharaoh Hound','pharaoh_hound'],
        ['Plott','plott'],
        ['Pointer','pointer'],
        ['Polish Lowland Sheepdog','polish_lowland_sheepdog'],
        ['Pomeranian','pomeranian'],
        ['Poodle','poodle'],
        ['Portuguese Podengo Pequeno','portuguese_podengo_peqeno'],
        ['Portuguese Water Dog','portuguese_water_dog'],
        ['Pug','pug'],
        ['Puli','puli'],
        ['Pyrenean Shepherd','pyrenean_shepherd'],
        ['Rat Terrier','rat_terrier'],
        ['Redbone Coonhound','redbone_coonhound'],
        ['Rhodesian Ridgeback','rhodesian_ridgeback'],
        ['Rottweiler','rottweiler'],
        ['Russell Terrier','russel_terrier'],
        ['Saluki','saluki'],
        ['Samoyed','samoyed'],
        ['Schipperke','schipperke'],
        ['Scottish Deerhound','scottish_deerhound'],
        ['Scottish Terrier','scottish_terrier'],
        ['Sealyham Terrier','sealyham_terrier'],
        ['Shetland Sheepdog','shetland_sheepdog'],
        ['Shiba Inu','shiba_inu'],
        ['Shih Tzu','shih_tzu'],
        ['Siberian Husky','siberian_husky'],
        ['Silky Terrier','silky_terrier'],
        ['Skye Terrier','skye_terrier'],
        ['Smooth Fox Terrier','smooth_fox_terrier'],
        ['Soft Coated Wheaten Terrier','soft_coated_wheaten_terrier'],
        ['Spinone Italiano','spinone_italiano'],
        ['St. Bernard','st_bernard'],
        ['Staffordshire Bull Terrier','staffordshire_bull_terrier'],
        ['Standard Schnauzer','standard_schnauzer'],
        ['Sussex Spaniel','sussex_spaniel'],
        ['Swedish Vallhund','swedish_vallhund'],
        ['Tibetan Mastiff','tibetan_mastiff'],
        ['Tibetan Spaniel','tibetan_spaniel'],
        ['Tibetan Terrier','tibetan_terrier'],
        ['Toy Fox Terrier','toy_fox_terrier'],
        ['Treeing Walker Coonhound','treeing_walker_coonhound'],
        ['Vizsla','vizsla'],
        ['Weimaraner','weimaraner'],
        ['Welsh Springer Spaniel','welsh_springer_spaniel'],
        ['Welsh Terrier','welsh_terrier'],
        ['West Highland White Terrier','west_highland_white_terrier'],
        ['Whippet','whippet'],
        ['Wire Fox Terrier','wire_fox_terrier'],
        ['Wirehaired Pointing Griffon','wirehaired_ponting_griffon'],
        ['Xoloitzcuintli','xoloitzcuintli'],
        ['Yorkshire Terrier','yorkshire_terrier'],
        ] %>
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
    <%= f.label :weight %><br>
    <%= f.select :weight,

        [
        ['Select Weight','select_weight'],
        ['5-10lb','5-10'],
        ['10-15lb','10-15'],
        ['15-20','15-20'],
        ['20-25','20-25'],
        ['25-30','25-30'],
        ['30-40','30-40'],
        ['40-50','40-50'],
        ['50-60','50-60'],
        ['60-75','60-75'],
        ['75-100','75-100'],
        ['100-125','100-125'],
        ['125-150','125-150'],
        ['150-175','150-175'],
        ['175+', '175+']
        ]
     %>
    <%= f.label :image %><br>
    <%= f.file_field :image %>    <%= f.submit %>
<%= link_to 'Back', dogs_path %>
<% end %>
</div>
