<div class="form-container">

<%= form_for(@dog) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :nick %><br>
    <%= f.text_field :nick %>
    <%= f.label :primarybreed %><br>
    <%= f.select :primarybreed, 
    # A A A A A A  A A   A  A A A A A A A A A A A A  A A A A A A A A A A A A A A A  A
        [

        ['Affenpinscher','affenpincher'],
        ['Afghan Hound','afgan_hound'],
        ['Airedale Terrier','airedale_terrier'],
        ['Akita','akita'],
        ['Alaskan Malamute','alaskan_malamute'],
        ['American English Coonhound','american_english_coonhound'],
        ['American Eskimo Dog','american_eskimo_dog'],
        ['American Foxhound','american_foxhound'],
        ['American Staffordshire Terrier','american_staffordshire_terrier'],
        ['American Water Spaniel','american_water_spaniel'],
        ['Anatolian Shepherd Dog','anotolian_shepherd_dog'],
        ['Australian Cattle Dog','australian_cattle_dog'],
        ['Australian Shepherd','australian_shepherd'],
        ['Australian Terrier','aistralian_terrier'],
        ['Basenji','basenji'],
        ['Basset Hound','basset_hound'],
        ['Beagle','beagle'],
        ['Bearded Collie','bearded_collie'],
        ['Beauceron','beaceron'],
        ['Bedlington Terrier','bedlington_terrier'],
        ['Belgian Malinois','belgian_malinois'],
        ['Belgian Sheepdog','belgian_sheepdog'],
        ['Belgian Tervuren','belgian_tervuren'],
        ['Bernese Mountain Dog','bernese_mountain_dog'],
        ['Bichon Frise','bichon_frise'],
        ['Black Russian Terrier','black_russian_terrier'],
        ['Black and Tan Coonhound','black_and_tan_coonhound'],
        ['Bloodhound','bloodhound'],
        ['Bluetick Coonhound','bluetick_coonhound'],
        ['Border Collie','border_collie'],
        ['Border Terrier','border_terrier'],
        ['Borzoi','borzoi'],
        ['Boston Terrier','boston_terrier'],
        ['Bouvier des Flandres','bouvier_des_flandres'],
        ['Boxer','boxer'],
        ['Boykin Spaniel','boykin_spaniel'],
        ['Briard','briard'],
        ['Brittany','brittany'],
        ['Brussels Griffon','brussels_griffon'],
        ['Bull Terrier','blue_terrer'],
        ['Bulldog','bulldog'],
        ['Bullmastiff','bluemastiff'],
        ['Cairn Terrier','cairn_terrier'],
        ['Canaan Dog','canaan_dog'],
        ['Cane Corso','cane_corso'],
        ['Cardigan Welsh Corgi','cardigan_welsh_corgi'],
        ['Cavalier King Charles Spaniel','cavalier_king_charles_spaniel'],
        ['Cesky Terrier','cesky_terrier'],
        ['Chesapeake Bay Retriever','chesapeake_bay_retriever'],
        ['Chihuahua','chihuahua'],
        ['Chinese Crested','chinese_crested'],
        ['Chinese Shar-Pei','chinese_shar-pei'],
        ['Chinook','chinook'],
        ['Chow Chow','chow_chow'],
        ['Clumber Spaniel','clumber_spaniel'],
        ['Cocker Spaniel','cocker_spaniel'],
        ['Collie','collie'],
        ['Curly-Coated Retriever','curly-coated_retriever'],
        ['Dachshund','dachund'],
        ['Dalmatian','dalmatian'],
        ['Dandie Dinmont Terrier','dandie_dinmont_terrier'],
        ['Doberman Pinscher','doberman_pinscher'],
        ['Dogue de Bordeaux','dogue_de_bordeaux'],
        ['English Cocker Spaniel','english_cocker_spaniel'],
        ['English Foxhound','english_foxhound'],
        ['English Setter','english_setter'],
        ['English Springer Spaniel','english_springer_spaniel'],
        ['English Toy Spaniel','english_toy_spaniel'],
        ['Entlebucher Mountain Dog','entlebucher_mountain_dog'],
        ['Field Spaniel','field_spaniel'],
        ['Finnish Lapphund','finnish_lapphund'],
        ['Finnish Spitz','finnish_spitz'],
        ['Flat-Coated Retriever','flat-coated_retriever'],
        ['French Bulldog','french_bulldog'],
        ['German Pinscher','german_pinscher'],
        ['German Shepherd','german_shepherd'],
        ['German Shorthaired Pointer','germain_shorthaired_pointer'],
        ['German Wirehaired Pointer','german_wirehaired_pointer'],
        ['Giant Schnauzer','giant_schnauzer'],
        ['Glen of Imaal Terrier','glen_of_imaal_terrier'],
        ['Golden Retriever','golden_retriever'],
        ['Gordon Setter','gordon_setter'],
        ['Great Dane','great_dane'],
        ['Great Pyrenees','great_pyrenees'],
        ['Greater Swiss Mountain Dog','greater_swiss_mountain_dog'],
        ['Greyhound','greyhound'],
        ['Harrier','harrier'],
        ['Havanese','havanese'],
        ['Ibizan Hound','ibizan_hound'],
        ['Icelandic Sheepdog','icelandic_sheepdog'],
        ['Irish Red and White Setter','irish_red_and_white_setter'],
        ['Irish Setter','irish_setter'],
        ['Irish Terrier','irish_terrier'],
        ['Irish Water Spaniel','irish_water_spaniel'],
        ['Irish Wolfhound','irish_wolfhound'],
        ['Italian Greyhound','italian_greyhound'],
        ['Japanese Chin','japanese_chin'],
        ['Keeshond','keeshond'],
        ['Kerry Blue Terrier','kerry_blue_terrier'],
        ['Komondor','komondor'],
        ['Kuvasz','kuvasz'],
        ['Labrador Retriever','labrador_retriever'],
        ['Lakeland Terrier','lakeland_terrier'],
        ['Leonberger','leonberger'],
        ['Lhasa Apso','lhasa_apso'],
        ['Lowchen','lowchen'],
        ['Maltese','maltese'],
        ['Manchester Terrier','manchester_terrier'],
        ['Mastiff','mastiff'],
        ['Miniature Bull Terrier','miniature_bull_terrier'],
        ['Miniature Pinscher','miniature_pinscher'],
        ['Miniature Schnauzer','miniature_schnauzer'],
        ['Neapolitan Mastiff','neapolitan_mastiff'],
        ['Newfoundland','newfoundland'],
        ['Norfolk Terrier','norfolk_terrier'],
        ['Norwegian Buhund','norwegian_bhund'],
        ['Norwegian Elkhound','norwegian_elkhound'],
        ['Norwegian Lundehund','norwegian_lundehund'],
        ['Norwich Terrier','norwhich_terrier'],
        ['Nova Scotia Duck Tolling Retriever','nova_scotia_duck_tolling_retriever'],
        ['Old English Sheepdog','old_english_sheepdog'],
        ['Otterhound','otterhound'],
        ['Papillon','papillon'],
        ['Parson Russell Terrier','parson_russel_terrier'],
        ['Pekingese','pekingese'],
        ['Pembroke Welsh Corgi','pembroke_welsh_corgi'],
        ['Petit Basset Griffon Vendeen','petit_basset_griffon_vendeen'],
        ['Pharaoh Hound','pharaoh_hound'],
        ['Plott','plott'],
        ['Pointer','pointer'],
        ['Polish Lowland Sheepdog','polish_lowland_sheepdog'],
        ['Pomeranian','pomeranian'],
        ['Poodle','poodle'],
        ['Portuguese Podengo Pequeno','portuguese_podengo_peqeno'],
        ['Portuguese Water Dog','portuguese_water_dog'],
        ['Pug','pug'],
        ['Puli','puli'],
        ['Pyrenean Shepherd','pyrenean_shepherd'],
        ['Rat Terrier','rat_terrier'],
        ['Redbone Coonhound','redbone_coonhound'],
        ['Rhodesian Ridgeback','rhodesian_ridgeback'],
        ['Rottweiler','rottweiler'],
        ['Russell Terrier','russel_terrier'],
        ['Saluki','saluki'],
        ['Samoyed','samoyed'],
        ['Schipperke','schipperke'],
        ['Scottish Deerhound','scottish_deerhound'],
        ['Scottish Terrier','scottish_terrier'],
        ['Sealyham Terrier','sealyham_terrier'],
        ['Shetland Sheepdog','shetland_sheepdog'],
        ['Shiba Inu','shiba_inu'],
        ['Shih Tzu','shih_tzu'],
        ['Siberian Husky','siberian_husky'],
        ['Silky Terrier','silky_terrier'],
        ['Skye Terrier','skye_terrier'],
        ['Smooth Fox Terrier','smooth_fox_terrier'],
        ['Soft Coated Wheaten Terrier','soft_coated_wheaten_terrier'],
        ['Spinone Italiano','spinone_italiano'],
        ['St. Bernard','st_bernard'],
        ['Staffordshire Bull Terrier','staffordshire_bull_terrier'],
        ['Standard Schnauzer','standard_schnauzer'],
        ['Sussex Spaniel','sussex_spaniel'],
        ['Swedish Vallhund','swedish_vallhund'],
        ['Tibetan Mastiff','tibetan_mastiff'],
        ['Tibetan Spaniel','tibetan_spaniel'],
        ['Tibetan Terrier','tibetan_terrier'],
        ['Toy Fox Terrier','toy_fox_terrier'],
        ['Treeing Walker Coonhound','treeing_walker_coonhound'],
        ['Vizsla','vizsla'],
        ['Weimaraner','weimaraner'],
        ['Welsh Springer Spaniel','welsh_springer_spaniel'],
        ['Welsh Terrier','welsh_terrier'],
        ['West Highland White Terrier','west_highland_white_terrier'],
        ['Whippet','whippet'],
        ['Wire Fox Terrier','wire_fox_terrier'],
        ['Wirehaired Pointing Griffon','wirehaired_ponting_griffon'],
        ['Xoloitzcuintli','xoloitzcuintli'],
        ['Yorkshire Terrier','yorkshire_terrier'],
        ] %>
    <%= f.label :secondarybreed %><br>
    <%= f.select :secondarybreed,
        [
        ['Purebred', 'purebred'],
        ['Affenpinscher','affenpincher'],
        ['Afghan Hound','afgan_hound'],
        ['Airedale Terrier','airedale_terrier'],
        ['Akita','akita'],
        ['Alaskan Malamute','alaskan_malamute'],
        ['American English Coonhound','american_english_coonhound'],
        ['American Eskimo Dog','american_eskimo_dog'],
        ['American Foxhound','american_foxhound'],
        ['American Staffordshire Terrier','american_staffordshire_terrier'],
        ['American Water Spaniel','american_water_spaniel'],
        ['Anatolian Shepherd Dog','anotolian_shepherd_dog'],
        ['Australian Cattle Dog','australian_cattle_dog'],
        ['Australian Shepherd','australian_shepherd'],
        ['Australian Terrier','aistralian_terrier'],
        ['Basenji','basenji'],
        ['Basset Hound','basset_hound'],
        ['Beagle','beagle'],
        ['Bearded Collie','bearded_collie'],
        ['Beauceron','beaceron'],
        ['Bedlington Terrier','bedlington_terrier'],
        ['Belgian Malinois','belgian_malinois'],
        ['Belgian Sheepdog','belgian_sheepdog'],
        ['Belgian Tervuren','belgian_tervuren'],
        ['Bernese Mountain Dog','bernese_mountain_dog'],
        ['Bichon Frise','bichon_frise'],
        ['Black Russian Terrier','black_russian_terrier'],
        ['Black and Tan Coonhound','black_and_tan_coonhound'],
        ['Bloodhound','bloodhound'],
        ['Bluetick Coonhound','bluetick_coonhound'],
        ['Border Collie','border_collie'],
        ['Border Terrier','border_terrier'],
        ['Borzoi','borzoi'],
        ['Boston Terrier','boston_terrier'],
        ['Bouvier des Flandres','bouvier_des_flandres'],
        ['Boxer','boxer'],
        ['Boykin Spaniel','boykin_spaniel'],
        ['Briard','briard'],
        ['Brittany','brittany'],
        ['Brussels Griffon','brussels_griffon'],
        ['Bull Terrier','blue_terrer'],
        ['Bulldog','bulldog'],
        ['Bullmastiff','bluemastiff'],
        ['Cairn Terrier','cairn_terrier'],
        ['Canaan Dog','canaan_dog'],
        ['Cane Corso','cane_corso'],
        ['Cardigan Welsh Corgi','cardigan_welsh_corgi'],
        ['Cavalier King Charles Spaniel','cavalier_king_charles_spaniel'],
        ['Cesky Terrier','cesky_terrier'],
        ['Chesapeake Bay Retriever','chesapeake_bay_retriever'],
        ['Chihuahua','chihuahua'],
        ['Chinese Crested','chinese_crested'],
        ['Chinese Shar-Pei','chinese_shar-pei'],
        ['Chinook','chinook'],
        ['Chow Chow','chow_chow'],
        ['Clumber Spaniel','clumber_spaniel'],
        ['Cocker Spaniel','cocker_spaniel'],
        ['Collie','collie'],
        ['Curly-Coated Retriever','curly-coated_retriever'],
        ['Dachshund','dachund'],
        ['Dalmatian','dalmatian'],
        ['Dandie Dinmont Terrier','dandie_dinmont_terrier'],
        ['Doberman Pinscher','doberman_pinscher'],
        ['Dogue de Bordeaux','dogue_de_bordeaux'],
        ['English Cocker Spaniel','english_cocker_spaniel'],
        ['English Foxhound','english_foxhound'],
        ['English Setter','english_setter'],
        ['English Springer Spaniel','english_springer_spaniel'],
        ['English Toy Spaniel','english_toy_spaniel'],
        ['Entlebucher Mountain Dog','entlebucher_mountain_dog'],
        ['Field Spaniel','field_spaniel'],
        ['Finnish Lapphund','finnish_lapphund'],
        ['Finnish Spitz','finnish_spitz'],
        ['Flat-Coated Retriever','flat-coated_retriever'],
        ['French Bulldog','french_bulldog'],
        ['German Pinscher','german_pinscher'],
        ['German Shepherd','german_shepherd'],
        ['German Shorthaired Pointer','germain_shorthaired_pointer'],
        ['German Wirehaired Pointer','german_wirehaired_pointer'],
        ['Giant Schnauzer','giant_schnauzer'],
        ['Glen of Imaal Terrier','glen_of_imaal_terrier'],
        ['Golden Retriever','golden_retriever'],
        ['Gordon Setter','gordon_setter'],
        ['Great Dane','great_dane'],
        ['Great Pyrenees','great_pyrenees'],
        ['Greater Swiss Mountain Dog','greater_swiss_mountain_dog'],
        ['Greyhound','greyhound'],
        ['Harrier','harrier'],
        ['Havanese','havanese'],
        ['Ibizan Hound','ibizan_hound'],
        ['Icelandic Sheepdog','icelandic_sheepdog'],
        ['Irish Red and White Setter','irish_red_and_white_setter'],
        ['Irish Setter','irish_setter'],
        ['Irish Terrier','irish_terrier'],
        ['Irish Water Spaniel','irish_water_spaniel'],
        ['Irish Wolfhound','irish_wolfhound'],
        ['Italian Greyhound','italian_greyhound'],
        ['Japanese Chin','japanese_chin'],
        ['Keeshond','keeshond'],
        ['Kerry Blue Terrier','kerry_blue_terrier'],
        ['Komondor','komondor'],
        ['Kuvasz','kuvasz'],
        ['Labrador Retriever','labrador_retriever'],
        ['Lakeland Terrier','lakeland_terrier'],
        ['Leonberger','leonberger'],
        ['Lhasa Apso','lhasa_apso'],
        ['Lowchen','lowchen'],
        ['Maltese','maltese'],
        ['Manchester Terrier','manchester_terrier'],
        ['Mastiff','mastiff'],
        ['Miniature Bull Terrier','miniature_bull_terrier'],
        ['Miniature Pinscher','miniature_pinscher'],
        ['Miniature Schnauzer','miniature_schnauzer'],
        ['Neapolitan Mastiff','neapolitan_mastiff'],
        ['Newfoundland','newfoundland'],
        ['Norfolk Terrier','norfolk_terrier'],
        ['Norwegian Buhund','norwegian_bhund'],
        ['Norwegian Elkhound','norwegian_elkhound'],
        ['Norwegian Lundehund','norwegian_lundehund'],
        ['Norwich Terrier','norwhich_terrier'],
        ['Nova Scotia Duck Tolling Retriever','nova_scotia_duck_tolling_retriever'],
        ['Old English Sheepdog','old_english_sheepdog'],
        ['Otterhound','otterhound'],
        ['Papillon','papillon'],
        ['Parson Russell Terrier','parson_russel_terrier'],
        ['Pekingese','pekingese'],
        ['Pembroke Welsh Corgi','pembroke_welsh_corgi'],
        ['Petit Basset Griffon Vendeen','petit_basset_griffon_vendeen'],
        ['Pharaoh Hound','pharaoh_hound'],
        ['Plott','plott'],
        ['Pointer','pointer'],
        ['Polish Lowland Sheepdog','polish_lowland_sheepdog'],
        ['Pomeranian','pomeranian'],
        ['Poodle','poodle'],
        ['Portuguese Podengo Pequeno','portuguese_podengo_peqeno'],
        ['Portuguese Water Dog','portuguese_water_dog'],
        ['Pug','pug'],
        ['Puli','puli'],
        ['Pyrenean Shepherd','pyrenean_shepherd'],
        ['Rat Terrier','rat_terrier'],
        ['Redbone Coonhound','redbone_coonhound'],
        ['Rhodesian Ridgeback','rhodesian_ridgeback'],
        ['Rottweiler','rottweiler'],
        ['Russell Terrier','russel_terrier'],
        ['Saluki','saluki'],
        ['Samoyed','samoyed'],
        ['Schipperke','schipperke'],
        ['Scottish Deerhound','scottish_deerhound'],
        ['Scottish Terrier','scottish_terrier'],
        ['Sealyham Terrier','sealyham_terrier'],
        ['Shetland Sheepdog','shetland_sheepdog'],
        ['Shiba Inu','shiba_inu'],
        ['Shih Tzu','shih_tzu'],
        ['Siberian Husky','siberian_husky'],
        ['Silky Terrier','silky_terrier'],
        ['Skye Terrier','skye_terrier'],
        ['Smooth Fox Terrier','smooth_fox_terrier'],
        ['Soft Coated Wheaten Terrier','soft_coated_wheaten_terrier'],
        ['Spinone Italiano','spinone_italiano'],
        ['St. Bernard','st_bernard'],
        ['Staffordshire Bull Terrier','staffordshire_bull_terrier'],
        ['Standard Schnauzer','standard_schnauzer'],
        ['Sussex Spaniel','sussex_spaniel'],
        ['Swedish Vallhund','swedish_vallhund'],
        ['Tibetan Mastiff','tibetan_mastiff'],
        ['Tibetan Spaniel','tibetan_spaniel'],
        ['Tibetan Terrier','tibetan_terrier'],
        ['Toy Fox Terrier','toy_fox_terrier'],
        ['Treeing Walker Coonhound','treeing_walker_coonhound'],
        ['Vizsla','vizsla'],
        ['Weimaraner','weimaraner'],
        ['Welsh Springer Spaniel','welsh_springer_spaniel'],
        ['Welsh Terrier','welsh_terrier'],
        ['West Highland White Terrier','west_highland_white_terrier'],
        ['Whippet','whippet'],
        ['Wire Fox Terrier','wire_fox_terrier'],
        ['Wirehaired Pointing Griffon','wirehaired_ponting_griffon'],
        ['Xoloitzcuintli','xoloitzcuintli'],
        ['Yorkshire Terrier','yorkshire_terrier'],
        ] %>
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
    <%= f.label :weight %><br>
    <%= f.select :weight,
        [['5-10lb','5-10'],
        ['10-15lb','10-15'],
        ['15-20','15-20'],
        ['20-25','20-25'],
        ['25-30','25-30'],
        ['30-40','30-40'],
        ['40-50','40-50'],
        ['50-60','50-60'],
        ['60-75','60-75'],
        ['75-100','75-100'],
        ['100-125','100-125'],
        ['125-150','125-150'],
        ['150-175','150-175'],
        ['175+', '175+']
        ]
     %>
    <%= f.label :image %><br>
    <%= f.file_field :image %>    <%= f.submit %>
<%= link_to 'Back', dogs_path %>
<% end %>
</div>
