<p id="notice"><%= notice %></p>
<% provide(:title, @user.name) %>
<div class="usershow">
<div class="row">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
</div>
          <p>
            <%= image_tag @user.image.url(:medium) %>
          </p>
          <p>
            <strong>Name:</strong>
            <%= @user.name %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @user.email %>
          </p>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>