<p id="notice"><%= notice %></p>
<% provide(:title, @user.name) %>
<div class="userwrap">
  <div class="usershow">
    <div class="rowflow">
      <section>
        <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        (Pup User)

        </h1>
      </section>
    </div>
          <p>
            <%= image_tag @user.image.url(:medium) %>
          </p>
          <p>
            <strong>Name:</strong>
            <%= @user.name %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @user.email %>
          </p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
  </div>
    <% if @user.dogs.any? == false %>
  <div id="nodogheader">
    <h2> You Don't Have Any Dees Yet!! <h2>
  </div>
  <% end %>

      <div class="userdogs">
        <% if @user.dogs.any? == false %>
          <div class="newdogbutton">
              <%= link_to image_tag("/images/greenadd.png"), new_dog_path %>
              <h1> Add A New Dee!! </h1>
          </div>
          <% end %>
            <% @user.dogs.each do |dog| %>
            <div class="userdog">
            <hr>
            <table>
             <%= image_tag @dog.image.url(:medium) %> 
            <p> <b> <tr> Dee Name: </tr></b> <%= link_to dog.name, dog %> </p>
            <p> <b> <tr> Dog Nick: </tr></b> <%=  dog.nick %> </p>
            <p> <b> <tr> Breed: </tr></b> <%=  dog.primarybreed %> </p>
            <p> <b> <tr> Secondary: </tr></b> <%=  dog.secondarybreed %> </p>
            <p> <b> <tr> Neighborhood:</tr></b> <%=  dog.neighborhood %> </p>
            <p> <b> Age: </b> <%=  dog.age %> </p>
            <p> <b> Weight: </b> <%=  dog.weight %> </p>
            <%= link_to 'Delete Dee', dog, method: :delete, data: { confirm: 'Are You Sure You Want To Delete This Dee!?' } %>
            <td><%= link_to 'Change Dee Info', edit_dog_path(dog) %></td>
           </table>
             </div>
            <% end %> 
          <hr>
          <% if @user.dogs.any? %>
           <div class="newdogbutton">
              <%= link_to image_tag("/images/greenadd.png"), new_dog_path %>
              <h1> Add A New Dee!! </h1>
            <% end %>
      </div>

 </div>
</div>

