<p id="notice"><%= notice %></p>
<% provide(:title, @user.name) %>
<div class="usershowwrap">
<div class="userbanner">
  <div id = "namecontainer">
       <span> <%= @user.name %> </span>
  </div>
        <div class="bannerimagecontainer">
           <%= image_tag @user.image.url(:thumb) %> 
        </div>
            <%= link_to 'Edit', edit_user_path(@user) %> |
          <h3> City: </h3>
          <h3> <%= @user.city %></h3>

          <h3> User Status: </h3>
          <div class="banneravatarcontainer">
             <%= gravatar_for @user %>
          </div>
        <div class="userstatus"> <span> Pup  </span> </div>
            <strong>Email:</strong>
            <h3> <%= @user.email %> </h3><br>
            <%= link_to 'Back', root_path %>
        <div class="userbuttons">
            <a href="#" class="btn btn-default btn-success"><span class="glyphicon glyphicon-plus"></span> Add Friend</a>
            <a href="#" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-envelope"></span> Message User</a>
            <a href="#" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-flag"></span> Report User</a>
        </div>
  </div>
  <div id="abovedees">
  </div>
        <div class="userdogs">
        <% if @user.dogs.any? == false %>
          <div class="newdogbutton">
              <%= link_to image_tag("/images/greenadd.png"), new_dog_path %>
              <h1> Add A New Dee!! </h1>
          </div>
          <% end %>
            <% @user.dogs.each do |dog| %>
            <div class="userdog">
              <div class="userdogpic">
             <%= image_tag @dog.image.url(:medium) %> 
              </div>
              <div class="dogtable">
                <table>
                  <tr class ="odd"> 
                      <td class ="label"> Dee Name:  </td>
                      <td class ="response"> <%= link_to dog.name, dog %> </td>
                  </tr>
                  <tr class ="even"> 
                      <td class ="label"> Dee Nick:  </td>
                      <td class ="response"> <%= dog.nick %> </td>
                  </tr>
                  <tr class ="odd"> 
                      <td class ="label"> Dee Breed:  </td>
                      <td class ="response"> <%= dog.primarybreed %> </td>
                  </tr>
                  <tr class ="even"> 
                      <td class ="label"> Secondary Breed:  </td>
                      <td class ="response"> <%= dog.secondarybreed  %> </td>
                  </tr>
                  <tr class ="odd"> 
                      <td class ="label"> Dee Age:  </td>
                      <td class ="response"> <%= dog.age %> Years Old! </td>
                  </tr>
                  <tr class ="even"> 
                      <td class ="label"> Dog Weight:  </td>
                      <td class ="response"> <%= dog.weight  %> El Bees </td>
                  </tr>
                  <tr class ="odd"> 
                      <td class ="label"> Dee ID:  </td>
                      <td class ="response"> <%= dog.id %> Years Old! </td>
                  </tr>
                  <tr class ="even"> 
                      <td class ="label"> Dog URL:  </td>
                      <td class ="response"> <%= dog.image.url  %> El Bees </td>
                  </tr>
                  <tr>
                    <td> check </td> <td> </td>
                  </tr>
                </table>        
              </div>
              <div class="userdogcontrols">
              <%= link_to 'Edit Dee', edit_dog_path(dog), class: "btn btn-default btn-warning" %> 
             <%= link_to 'Delete Dee', dog, class: "btn btn-default btn-danger", method: :delete, data: { confirm: 'Are You Sure You Want To Delete This Dee?!'} %>
             <span class="glyphicon glyphicon-remove"></span>
<span class="glyphicon glyphicon-pencil"></span> 
              </div>        
             </div>
            <% end %> 
          <hr>
          <% if @user.dogs.any? %>
           <div class="newdogbutton">
              <%= link_to image_tag("/images/greenadd.png"), new_dog_path %>
              <h1> Add A New Dee!! </h1>
            <% end %>
      </div>
    </div>
    <% if @user.dogs.any? == false %>
  <div id="nodogheader">
    <h2> You Don't Have Any Dees Yet!! <h2>
  </div>
  <% end %>



 </div>
</div>

