<p id="notice"><%= notice %></p>
<% provide(:title, @user.name) %>
<div id="pagewrap">
  <div id="break">
  </div>
  <div class="usershowwrap">
<div class="userbanner">
  <div id = "namecontainer">
       <span> <%= @user.name %> </span>
  </div>
        <div class="bannerimagecontainer">
           <%= image_tag @user.image.url(:thumb) %> 
        </div>
            <%= link_to 'Edit', edit_user_path(@user) %> |
          <h3> <%= @user.city.name %></h3> <br>
            <% if @user.burrough != nil %>
                <h3> <%= @user.burrough.name %></h3> <br>
            <% end %> 
            <% if @user.hood != nil %>
                <h3> <%= @user.hood.name %></h3> <br>
            <% end %>

         <!--  <h3> User Status: </h3>
          <div class="banneravatarcontainer">
             <%= gravatar_for @user %>
          </div>
        <div class="userstatus"> <span> Pup  </span> </div> -->
            <strong>Email:</strong>
            <h3> <%= @user.email %> </h3><br>
            <%= link_to 'Back', root_path %>
      <% if @user != current_user %>      
        <div class="userbuttons">
            <%= link_to 'Add Friend', friends_path(id: @user.id), :method =>"post", class: "btn btn-default btn-success" %>
            <a href="#" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-envelope"></span> Message User</a>
            <a href="#" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-flag"></span> Report User</a>
        </div>
      <% end %>
  </div>

<div id="tab-container" class="tab-container">
  <ul class='etabs'>
    <li class='tab'><a href="#tabs1">Friends</a></li>
    <li class='tab'><a href="#tabs2">Friends Request</a></li>
    <li class='tab'><a href="#tabs3">Friends Pending</a></li>
    <li class='tab'><a href="#tabs4">Blocked</a></li>

  </ul>
  <div id="tabs2">
    <div class="friendheader">
      <span> Friend Requests </span>
    </div>
    <!-- content -->
        <% current_user.pending_invited_by.each do  |user|  %>
          <div id="friendcontainer">
            <div id="friendreqimage">
               <%= image_tag user.image.url(:thumb) %>
            </div>
            <div id="nameandbuttonwrap">
                <div id="friendname">
                   <%= link_to user.name, user %> 
                </div>
                <div id="wantstabe">
                    <span style= "display:inline;"> Wants To Be Yo' BuDEE! </span>
                </div>
                <div id="friendoptions">
                        <%= link_to "Accept Request", friend_path(user), :method=> "put" %> Or
                        <%= link_to "Ehh...No", friend_path(user), :method=> "delete" %> 
                </div>
            </div>
        </div>
      <% end %>
  </div>
  <div id="tabs3">
    <div class="friendheader">
          <span> Friends Pending </span>
    </div>
    <!-- content -->
          <% current_user.pending_invited.each do  |user|  %>
          <div id="friendcontainer">
                <div id="friendreqimage">
                    <%= image_tag user.image.url(:thumb) %>
                </div>
                <div id="nameandbuttonwrap">
                    <div id="friendname">
                        <%= link_to user.name, user %> 
                    </div>
                    <div id="wantstabe">
                          <span style= "display:inline;"> Has Been Requested </span> 
                    </div>
                    <div id="friendoptions">
                        <%= link_to "Cancel Request", friend_path(user), :method=> "delete" %> 
                    </div>
                </div>
          </div>
        <% end %>

    <!-- content -->
  </div>
  <div id="tabs1">
          <div class="friendheader">
              <span> Friends </span>
          </div>
    <!-- content -->
              <% current_user.friends.each do  |user|  %>
                  <div id="friendcontainer">
                      <div id="friendreqimage">
                          <%= image_tag user.image.url(:thumb) %>
                      </div>
                      <div id="nameandbuttonwrap">
                          <div id="friendname">
                              <%= link_to user.name, user %> 
                          </div>
                          <div id="wantstabe">
                                <span style= "display:inline;"> Is Yo Buddy </span> 
                          </div>
                          <div id="friendoptions">
                              <%= link_to "Remove BudDEE", friend_path(user), :method=> "delete" %> 
                          </div>
                      </div>
                  </div>
                <% end %>    <!-- content -->
  </div>
  <div id="tabs4">  
      <div class="friendheader">
          <span> Blocked</span>
      </div>
    <!-- content -->
          <% current_user.blocked.each do  |user|  %>
              <div id="friendcontainer">
                    <div id="friendreqimage">
                      <%= image_tag user.image.url(:thumb) %>
                    </div>
                  <div id="nameandbuttonwrap">
                    <div id="friendname">
                        <%= link_to user.name, user %> 
                    </div>
                    <div id="wantstabe">
                        <span style= "display:inline;"> Is Blocked! </span> 
                    </div>
                    <div id="friendoptions">
                        <%= link_to "Unblock", friend_path(user), :method=> "delete" %> 
                    </div>
                  </div>
              </div>
            <% end %> 
    </div>
</div>
  <script>
    $('#tab-container').easytabs();
  </script>
        
  

  </div>
</div>