<!-- <div id="abovedees"> -->
 <div id="slider">
  <div class="item"><%= image_tag('/images/headerimage1.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage2.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage3.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage4.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage5.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage1.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage2.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage3.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage4.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage5.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage1.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage2.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage3.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage4.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage5.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage1.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage2.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage3.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage4.png')%></div>
  <div class="item"><%= image_tag('/images/headerimage5.png')%></div>
</div> 
<!-- </div> -->
