<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= stylesheet_link_tag "owl.carousel" %>
        <%= stylesheet_link_tag "owl.theme" %>
        <%= stylesheet_link_tag "easytabs" %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "owl.carousel" %>
        <%= javascript_include_tag "easytabs" %>        
        <%= javascript_include_tag "hashchange" %>



    <script>
        $(document).ready(function() {
        $("#slider").owlCarousel({ 
         autoPlay: false, //Set AutoPlay to 3 seconds
         items : 10,
         pagination : false,
 
  });
 
});
    </script>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
     <%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
         <%= yield %>
           <%= render 'layouts/footer' %>
  </body>
</html>